body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:485px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:260px;
  top:100px;
  width:225px;
  height:225px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:225px;
}
#u1 {
  position:absolute;
  left:2px;
  top:104px;
  width:221px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:308px;
  top:51px;
  width:129px;
  height:29px;
  font-family:'HelveticaNeue-Bold', 'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:29px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
